streamlit
llama-index
langchain
streamlit-authenticator
pydantic
PyPDF2
python-docx
gtts
langdetect
deep-translator
pillow
playsound
tensorflow
numpy
scikit-learn
matplotlib
pyttsx3
bcrypt
