streamlit
llama-index==0.6.30
langchain==0.0.318
streamlit-authenticator==0.3.3
pydantic
PyPDF2
python-docx
gtts
langdetect
deep-translator
pillow
playsound
tensorflow
numpy
scikit-learn
matplotlib
pyttsx3
bcrypt
